
body {
    font-family: Segoe UI, Liberation Sans-Serif, San Francisco, sans-serif;
    margin: 0;
    padding: 0.
}

header {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 2.5em;
    margin-bottom: 0.5em;
    
    background-color: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;
}

nav #title-bar {
    position: relative;
    width: 25%;
    border-right: 1px solid #454545;
}

#gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#gallery .gallery-item #gallery-image {
    position: relative;
    height: 70%;
}

#gallery .gallery-item:hover {
    transform: scale(1.05);
    transition: transform 0.125s;
}

#gallery .gallery-item #gallery-details {
    position: relative;
    top: 70%;
    height: 30%;
    border-top: 1px solid #909090;
    border-bottom: 1px solid black;
    border-radius: 0 0 0.5em 0.5em;
    background-color: #efefef;

    text-align: center;
    line-height: 75%;
}


#gallery .gallery-item {
    border: 1px solid black;
    width: 256px;
    height: 256px;
    margin: 0.5em;
    border-radius: 0.5em;
}
